.addFriendsBtnContainer {
    width:100%;
    display:flex;
    justify-content: center;
}
.addFriendsBtn {
    width: 150px;
    height: 60px;
    font-size: 28px;
    border: none;
    background-color: rgba(107, 52, 17, 0.2);
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.addFriendsBtn:hover {
    background-color: rgb(247, 183, 166) ;
}

.findFriendsHeader {
    font-size: 30px
}
.searchUsers {
    width: 100%;
}

.searchBar {
    width: 100%;
    text-align: center;
    fill: white
}

.inputSearch {
    width: 300px;
    height: 65px;
    font-size: 30px;
    text-align: center;
    border-radius: 7px;
}

.socializeHeader {
    font-size: 42px;
    text-align: center;
    color: rgb(0, 0, 0,.75);
    font-weight: bold;
    text-shadow: 2px 3px rgb(107, 100, 100,.3);
}
.usersNotFollowingList {
    margin-top: 1em
}
.person {
    display: flex;
    font-size: 24px;
    margin: 0 1.5rem 1em 1.5em;
    justify-content: space-between;
}

.followButton {
    background: rgba(107, 52, 17, 0.2);
    border-radius: 7px;
    height: 50px;
    width: 75px;
    border: none
}

.followButton:hover {
    background-color: rgb(247, 183, 166) ;
}

.follows {
    display: flex;
    margin-top: 30px;
}

.followingRow {
    display:flex;
    flex-flow: column nowrap;
    width: 50%;
    text-align: center;
}

.followersRow {
    display:flex;
    flex-flow: column nowrap;
    width: 50%;
    text-align: center;


}

.following {
    font-size: 24px;
}

.followers {
    font-size: 24px;
}

.leaderboardContainer {
    text-align: center;
}

table,th,td {
    margin:auto;
    border: 1px solid #6B3411
}

td,th {
    padding:.3em
}

.filled {
    background-color: rgb(247, 229, 130) ;
}

.tableHeader {
    font-size:24px
}