.topNav {
    display: flex;
    color: white;
    height: 7vh;
    background-color: transparent;
    justify-content: center;
    margin-left: 112px;
}

svg {
    z-index: 1;
}

.leftNav {
    position: fixed;
    z-index: 10;
    height: auto;
    width: 414px;
    font-weight: bold;
    color: #6B3411;
    background: #EDE6E6;
}

.lineDiv {
    text-align: center;
}

.line {
    width: 188px;
    height: 30px
}

.leftNavItem {
    font-size: 30px;
    color: rgb(0, 0, 0,.8);
    text-align: center;
    padding: .2em

}

.leftNavItem:hover {
    background-color:  #FD8D6E;
    text-shadow: none;
}

.menuButtonContainer {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    margin-left: 72px;
}
.menuButtonContainerRight {
    width:100%;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__dashboard {
    margin: 5vh 0;
    padding: 2vh 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.shaded {
    background-color: #EDE6E6;
}

.shade:hover {
    background-color: #EDE6E6;
}


