
body {
    background-image: linear-gradient(to bottom right, rgb(10, 10, 10), rgb(2, 2, 2)) !important;
    overflow-y: hidden;
}

.instruct {
    font-size: 24px;
    text-align: center;
}

.App {
    height: 736px;
    width: 414px;
    background-color: #EDE6E6;
    margin: auto;
}

.mainContainer {
    height: 736px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mainContainer::-webkit-scrollbar {
    display: none;
  }

.headerFont {
    font-size: 36px
}


.singleBoulder {
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
}

.renderComponents {
    margin-top: 60px
}

.expandable {
    transition: all 2s ease-in-out;
}


