
body {
    background-image: linear-gradient(to bottom right, rgb(10, 10, 10), rgb(2, 2, 2)) !important;
    overflow-y: hidden;
}

.App {
    height: 736px;
    width: 414px;
    background-color: #EDE6E6;
    margin: 40px auto 100px;
}

.mainContainer {
    height: 736px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mainContainer::-webkit-scrollbar {
    display: none;
  }

.headerFont {
    font-family: 'Teko', sans-serif;
    font-size: 36px
}


.singleBoulder {
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
}

.renderComponents {
    top: 50px
}


