.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 18em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--login {
    text-align: center;
    height: 736px;
    width: 414px;
}

.form--login {
    background-position-x: right;
    z-index: 1;
    background-color: #EDE6E6;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    width: 414px;
    margin: auto
}

.loginLogo {
    width: 390px;
    height: 415px;
    margin-top: 47px;
    overflow: hidden
}

.loginLogoContainer {
    text-align: center;
}

.loginInfoContainer {
    position:fixed;
    margin: auto;
    width: 250px;
    margin-left: 80px;
    bottom:230px;
    text-align: center;
    font-size: 20px;
}
.link--register {
    margin-top: 90px
}

.signInButton {
    background: rgba(107, 52, 17, 0.2);
    border: none;
    border-radius: 7px;
    width:150px;
    height: 50px; 
    color: #6B3411
}

.signInButton:hover {
    background: #FD8D6E;

}