.h1, h1 {
    font-size: 2.5rem;
}

.form--login {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 18em;
}

.label--login {
    width: 8rem;
}

.form-control {
    padding: .8em;
    font-size: 20px;
    color: #495057;
    background-color: #fff;
    border-radius: .25rem;
    margin:auto;
}

.loginInfoItemContainer {
    margin: .2em
}

.container--login {
    text-align: center;
    height: 736px;
    width: 414px;
}

.form--login {
    z-index: 1;
    background-color: #EDE6E6;
    background-repeat: no-repeat;
    width: 414px;
    margin: auto;
    height: auto
}

.loginLogo {
    width: 390px;
    height: 415px;
    overflow: hidden;
    margin: auto
}

.loginLogoContainer {
    text-align: center;
    margin: auto;
    justify-content: center;
    margin-top: 40px;
}

.loginInfoContainer {
    margin: auto;
    width: 250px;
    text-align: center;
    font-size: 20px;
}

.signInButton {
    background: linear-gradient(156.47deg, rgb(251, 237, 225) 0.1%,rgb(231, 206, 186) 65.58%);
    font-size: 24px;
    border: none;
    border-radius: 7px;
    width:150px;
    height: 50px; 
    color: #6B3411;
    box-shadow: 2px 2px #8a8787, 1px 1px #8a8787 ;
    margin-bottom: 30px;
    font-weight: bold;
    outline: none
}

.signInButton:hover {
    box-shadow: inset 1px 1px 4px #8a8787 ;
    transform: translateY(2px);
    transform: translateX(2px);
    outline: none

}

.registerContainer {
    height: 736px;
    width: 414px;
}

.registerBtn {
    background: linear-gradient(156.47deg, rgb(251, 237, 225) 0.1%,rgb(231, 206, 186) 65.58%);
    border: none;
    border-radius: 7px;
    width:250px;
    height: 50px; 
    color: #6B3411;
    box-shadow: 2px 2px #8a8787;
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    font-weight: bold;
    outline: none

}

.registerBtn:hover {
    box-shadow: inset 1px 1px 4px #8a8787 ;
    transform: translateY(2px);
    transform: translateX(2px);
    outline: none
}

.closeRegBtnContainer {
    display: flex;
    justify-content: flex-end;
}
.closeRegisterBtn {
    background: linear-gradient(156.47deg, rgb(251, 237, 225) 0.1%,rgb(231, 206, 186) 65.58%);
    border: none;
    border-radius: 7px;
    width:80px;
    height: 40px; 
    color: #6B3411 !important;
    box-shadow: 2px 2px #8a8787;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    outline: none

}


.closeRegisterBtn:hover {
    box-shadow: inset 1px 1px 4px #8a8787 ;
    transform: translateY(2px);
    transform: translateX(2px);
    outline: none
}

.registerInputContainer {
    display:flex;
    width:100%;
    margin-bottom: 1em;
}
.registerHeader{
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0,.75);
    font-weight: bold;
    text-shadow: 2px 3px rgb(107, 100, 100,.3);
    margin-bottom: 40px;
}

label {
    width: 160px;
    text-align: end;
}

input {
    width:40%
}